*{
    box-sizing: border-box;
}


/* general styling */

:root{
    --moderate-violet:hsl(263, 55%, 52%);
    --light-grayish-blue:hsl(210, 46%, 95%);
    --dark-grayish-blue:hsl(217, 19%, 35%);
    --light-gray:hsl(0, 0%, 81%);
}

.verified-second-testimonial{
    color:var(--light-grayish-blue);
    font-weight:lighter;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color:var(--light-grayish-blue);
    padding:30px;

}


/* grid layout */
.testimonials-container{
    display:grid;
    gap:1.5rem;
    grid-auto-columns:1fr;
    grid-template-areas:
    "daniel"
    "jonathan"
    "jeanette"
    "patrick"
    "kira";
}

.card:nth-child(1){
    grid-area: daniel;
}
.card:nth-child(2){
    grid-area:jonathan;
}
.card:nth-child(3){
    grid-area: jeanette;
}
.card:nth-child(4){
    grid-area:patrick;
}
.card:nth-child(5){
    grid-area:kira;
}






/* card general styles */
.card{
    border-radius: 10px;
    /* max-width: 27rem; */
}

.card-body{
    padding:2rem 2.8rem;
    
}



/* individual card styling */


/* daniel */
.daniel{
    background-color:var(--moderate-violet);
    color:#fff;
    position:relative;
    background: var(--moderate-violet) url("../images/bg-pattern-quotation.svg") no-repeat 92% 0%;
    background-size:28%;
}

.graduate{
    display:flex;
    align-items: center;
    gap:1.5rem;
    margin-bottom:20px;
}

.testimonial-img{
    width:13%;
    border-radius: 50%;
    border: 2px solid hsl(264, 28%, 67%);
}

.graduate-name{
    margin:0;
    margin-top:4px;
    font-weight:lighter;
}

.verified{
    font-weight: lighter;
    font-size:14px;
}

.first-testimonial{
    font-size:1.6rem;
    font-weight: 600;
}

.second-testimonial{
    font-size:1rem;
}

/* jonathan */
.jonathan{
    color:white;
    background-color: var(--dark-grayish-blue);
}
.jeanette-jonathan-img{
    width:13%;
    border-radius: 50%;
}

.jonathan-testimonial{
    color:var(--light-gray);
}

.verified-jonathan{
    color:var(--light-gray);
}


/* jeanette */
.verified-jeanette{
    color:var(--dark-grayish-blue);
}

.jeanette-testimonial{
    color:var(--dark-grayish-blue);
}


/* patrick */
.patrick{
    color:#fff;
    background-color:hsl(219, 29%, 14%);
}


/* 
grid layout on large screens */
@media only screen and (min-width:1100px) {
    .testimonials-container{
        grid-template-areas:
        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira";
    }
 
    .daniel{
     background: var(--moderate-violet) url("../images/bg-pattern-quotation.svg") no-repeat 92% 0%;
     background-size:23%; 
    }
 
 }


